.Form {
    border: 1px solid grey;
    width: 90%;
    padding: 30px 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.Input {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}



.Sex {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Loalty {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.Loalty select {
    width: 100%;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.Loalty select:hover {
    background: #f3f3f3;

}

.CardInput {
    margin-top: 20px;
}

.CardInput input {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 99%
}

@media(min-width: 450px) {
    .Form {
        border: 1px solid grey;
        width: 400px;
        padding: 30px 50px;
    }
}